/* Estilos del Layout Principal */
#container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 7rem 35rem 13rem;
    grid-template-areas:
        "header header header header"
        ". main main ."
        ". main main ."
        "footer footer footer footer";
    column-gap: 1rem;
    width: 100%;
}

/*---------------------------*/

main {
    padding: 0 1rem 0 1rem;
}

a {
    margin: 1rem 1rem 0 0;
    width: 230px;
    height: 390px;
}
/* Estilos del Contenedor de la película*/
#cartelera {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 90%;
    width: 100%;
    justify-content: center;
}

.film-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
    background: #fff;
}

.film-card img, span {
    width: 90%;
    text-align: center;
    margin-bottom: 1rem;
}

.films_colors {
    padding: 1rem;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 0.3rem;
}

.bg-films {
    background: #fff;
}

/* ------------------------------------*/

/* Estilos de Navegador de Películas*/
#navbar {
    grid-area: navbar;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#previous-film {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5rem;
}

#previous-film a,span, i {
    background: #fff;
}

#next-film {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5rem;
}

#next-film a,span, i {
    background: #fff;
}

/*-------------------------*/

/* Estilos del Contenedor con la Imagen y Tráiler de la Película */

#media {
    grid-area: media;
}

#media img {
    margin-right: 1rem;
}

iframe {
    width: 62%;
    height: 280px;
}

/*-------------------------*/

/* Estilos de la zona de Caracteristícas de la Película*/
#film_caracters {
    grid-area: film_caracters;
}

.film_caracters-title {
    font-weight: bold;
}

.film_caracters-text {
    opacity: 0.5;
}

#sinopsis {
    grid-area: sinopsis;
}