/* Estilos del Layout Principal */
#container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
    column-gap: 1rem;
    width: 100%;
}
  
/*---------------------------*/
/*Estilos del Contenedor Principal*/
main {
    padding-bottom: 8rem;
}