/* Estilos del Layout Principal */
#container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
    column-gap: 1rem;
    width: 100%;
}
  
/*---------------------------*/
main {
    padding-bottom: 8rem;
}
/*----------------------------------------*/
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    align-items: center;

    animation: change 20s infinite alternate linear;
}

.slider li{
    width: 100%;
    height: 28rem;
    list-style: none;
}

.slider img{
    width: 100%;
    object-fit: cover;
}

@keyframes change{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -90%;}
    45%{margin-left: -90%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*------------------------------*/
/* Estilos del Contenedor de Ofertas para Empresas*/

#offers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 4.5rem;
    padding-right: 3rem;
}

.offer{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background: #fff;
}

.offer a{
    width: 23.55rem;
    height: 19.43rem;
    background: #000;
    color: #fff;
}

.offer a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.offer-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: center;
    padding-bottom: 1.5rem;
    background: #fff;
}

.offer-text ul {
    background: #fff;
}

.offer-text ul li,h3,button {
    margin-top: 1rem;
    background: #fff;
}

.two-offers {
    margin-top: 4.95rem;
}

.button-offer {
    width: 70%;
    align-self: center;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.4rem;
    background: #000;
}