/* Estilos del Layout Principal */
#container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
    column-gap: 1rem;
    width: 100%;
}
  
/*---------------------------*/
/*Estilos del Contenedor Principal*/
main {
    padding-bottom: 8rem;
}
/*----------------------------------------*/
/*Estilos del Slider*/
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/*Estilos de cada Slide*/
.slide {
    position: relative;
    z-index: 0;
    background: none;
}

/*Con el pseudo-elemento before le damos una capa de oscuridad a el slide*/
.slide::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

/*Estilos del Texto superpuesto del Slide*/
.em-text {
    position: absolute;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 30%;
    left: 32%;
    z-index: 3;
    background: none;
}

.em-text div {
    background: none;
}

.em-text h2 {
    background: none;
    color: #fff;
    font-size: 2.8125rem;
}

/*Estilos del Botón de Contacto de cada Slide*/
.btn-transparent {
    width: 44%;
    align-self: center;
    border: 1px solid #fff;
    background: none;
    line-height: 50px;
    border-radius: 0.5rem;
}

.btn-transparent:hover {
    cursor: pointer;
    background: #0076ec;
    border: none;
}

.btn-transparent a {
    background: none;
    color: #fff;
    font-weight: 500;
}

/*Contenedor donde definimos las animaciones*/
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    align-items: center;

    animation: change 20s infinite alternate linear;
}

.slider li{
    width: 100%;
    height: 28rem;
    list-style: none;
}

.slider img{
    width: 100%;
    object-fit: cover;
}

/*Keyframes que permiten cambiar de Slide*/
@keyframes change{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*-------------------------------------------------*/
/* Estilos del Contenedor de Ofertas para Empresas*/
#offers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 4.5rem;
    padding-right: 3rem;
}

/*Estilos del Contenedor de cada oferta*/
.offer{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background: #fff;
}

.offer a{
    width: 23.55rem;
    height: 19.43rem;
    background: #000;
    color: #fff;
}

.offer a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Estilos del Contendor de los Textos de las Ofertas*/
.offer-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: center;
    padding-bottom: 1.5rem;
    background: #fff;
}

.offer-text ul {
    background: #fff;
}

.offer-text ul li,h3,button {
    margin-top: 1rem;
    background: #fff;
}

.two-offers {
    margin-top: 4.95rem;
}

/*Estilos del Botón de las Ofertas*/
.button-offer {
    width: 70%;
    align-self: center;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.4rem;
    background: #000;
}