/* Formateamos los estilos del Navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
}

/* Estilos del Layout Principal */
#container {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 10rem 24rem 14.35rem 14.35rem 9rem;
  grid-template-areas:
    "header header header header"
    ". slider slider ."
    ". main main ."
    ". main main ."
    "footer footer footer footer";
  column-gap: 1rem;
  width: 100%;
}

/* ------------------------------------*/

/* Estilos del Header y del Menú*/
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 10rem;
  grid-template-areas: ". nav nav .";
}

nav {
  grid-area: nav;
  position: relative;
  border-bottom: 2px solid #dfec2b;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  list-style: none;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* ------------------------------------*/

#slider_container {
  grid-area: slider;
  font-family: sans-serif;
  margin: auto;
  max-width: 800px;
  width: 100%;
  padding-top: 1rem;
  box-sizing: border-box;
}

#slider_container> ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#slider_container> ul.slider{
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

#slider_container > ul.slider h1{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}

#slider_container > ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
}

#slider_container > ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#slider_container > ul.slider li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}

#slider_container > ul.slider li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#slider_container  > #slide_menu{
  text-align: center;
  margin: 20px;
}

#slider_container  > #slide_menu li{
  display: inline-block;
  text-align: center;
}

#slider_container > #slide_menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
/* ------------------------------------*/

main {
  grid-area: main;
  background: #f0f0f0;
}

.section_title {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ------------------------------------*/

/* Estilos del Footer */
footer {
  grid-area: footer;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-top: 0.1px solid rgba(0, 0, 0, 0.2);
}

.f-son {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.f-son h2 {
  font-size: 1.2rem;
}

.f-son p {
  font-size: 0.8rem;
}

/* Estilos del Contenedor de Redes Sociales */
.footer-media {
  margin-top: 1.2rem;
}

/* Estilos de los a que llevan a las diferentes redes */
.media a {
  margin-left: 0;
  margin-right: 0.8rem;
  padding-top: 1.5rem;
}
