/*Estilos generales*/

/* Formateamos los estilos del Navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
  font-family: "Lato", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
  background: #fff;
}

ul, li {
  list-style: none;
}

/* ------------------------------------*/

/* Estilos del Header y del Menú*/
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 7rem;
  grid-template-areas: ". nav nav .";
  font-size: 1.1rem;
  background: #000;
}

nav {
  grid-area: nav;
  position: relative;
  background: #000;
}

nav ul:hover {
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
  list-style: none;
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
  background: #000;
}

nav ul li {
  background: #000;
  color: #fff;
}

/* Damos Opacidad a los li cuando pasamos el cursor por encima*/
nav ul li:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

/* Estilos del menú deslegable*/
.drop-down {
  position: relative;
  transition: 0.3s;
}

/* Estilos para mostrar el menú oculto*/
.drop-down:hover .hidden {
  opacity: 1;
  transition: 0.3s;
}

.drop-down span {
  background: #000;
}

/* Estilos menú oculto*/
.hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  left: -0.7rem;
  top: 2.5rem;
  z-index: 3;
  padding: 2rem 5.5rem 2rem 5.5rem;
  background: #fff;
  opacity: 0;
  transition: 0.3s;
}

#p-3 {
  padding: 3rem 5.5rem 3rem 5.5rem;
}

.hidden li {
  width: 10rem;
  background: #fff;
  color: #000;
  margin-bottom: 0.5rem;
}

/* ------------------------------------*/

/* Estilos del Main */
main {
  grid-area: main;
  background: #f0f0f0;
}

/* ------------------------------------*/

/* Estilos del Footer */
footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 15% 15% 45% 25%;
  grid-template-rows: 8rem 8rem;
  grid-template-areas:
    "info finance newsletter direction"
    "info finance newsletter direction";
  column-gap: 2rem;
  color: #fff;
  background: #000;
  border-top: 0.1px solid rgba(0, 0, 0, 0.2);
}

#info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.96rem;
}

#info ul li {
  margin-bottom: 0.3rem;
}

#social-li {
  margin-top: 2rem;
}

#social-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

i {
  font-size: 2rem;
}

.hover-footer:hover {
  cursor: pointer;
  color: #0076ec;
}

#finance {
  grid-area: finance;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 0.96rem;
}

#finance img {
  width: 50%;
}

#newsletter {
  grid-area: newsletter;
  display: flex;
  flex-direction: column;
  margin-top: 2.8rem;
}

form {
  margin-top: 1rem;
}

form input {
  width: 40%;
  padding: 0.5rem;
  border: none;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

#direction {
  grid-area: direction;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cine-direction {
  margin-top: 1rem;
}

#cine-name{
  font-weight: bold;
}

#direction ul li {
  margin-bottom: 0.3rem;
}

.footer_colors {
  background: #000;
  color: #fff;
}

.f-son {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.f-son h2 {
  font-size: 1.2rem;
}

.f-son p {
  font-size: 0.8rem;
  padding: 0.25rem;
}

/* Estilos del Contenedor de Redes Sociales */
.footer-media {
  margin-top: 1.2rem;
}

/* Estilos de los a que llevan a las diferentes redes */
.media a {
  margin-left: 0;
  margin-right: 0.8rem;
  padding-top: 5rem;
}

#apple_img {
  width: 135px;
  height: 46px;
}

/*Botones*/
.btn {
  padding: 0.5rem;
  border: none;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 52%);
  font-size: 0.9rem;
  color: #fff;
  }
  
  .btn:hover {
  cursor: pointer;
  }
  
  #red-btn {
  background: red;
  }
  
  .blue-btn {
  background: #0076ec;
  }