/* Estilos del Layout Principal */
#container {
display: grid;
grid-template-columns: 20% 30% 30% 20%;
grid-template-areas:
    "header header header header"
    ". slider slider ."
    ". main main ."
    ". main main ."
    "footer footer footer footer";
column-gap: 1rem;
width: 100%;
}

/*-------------------------------*/

/* Estilos del Slider */

#slider_container {
grid-area: slider;
font-family: sans-serif;
margin: auto;
max-width: 930px;
width: 100%;
padding-top: 1rem;
box-sizing: border-box;
}

#slider_container > ul,
li {
padding: 0;
margin: 0;
list-style: none;
}

#slider_container > ul.slider {
position: relative;
max-width: 930px;
width: 100%;
height: 300px;
}

#slider_container > ul.slider h1 {
position: absolute;
background-color: rgba(255, 255, 255, 0.6);
padding: 10px;
left: 50%;
top: 100px;
transform: translate(-50%, -50%);
}

#slider_container > ul.slider li {
position: absolute;
left: 0px;
top: 0px;
opacity: 0;
width: inherit;
height: inherit;
transition: opacity 0.5s;
}

#slider_container > ul.slider li img {
width: 100%;
height: 300px;
object-fit: cover;
}

#slider_container > ul.slider li:first-child {
opacity: 1;
}

#slider_container > ul.slider li:target {
opacity: 1;
}

#slider_container > #slide_menu {
text-align: center;
margin: 1.1rem;
}

#slider_container > #slide_menu li {
display: inline-block;
text-align: center;
}

#slider_container > #slide_menu li a {
display: inline-block;
color: white;
text-decoration: none;
background-color: grey;
padding: 10px;
width: 20px;
height: 20px;
font-size: 20px;
border-radius: 100%;
}

/* ------------------------------------*/
  
.section_title {
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 1rem;
padding-right: 1rem;
margin-top: 2rem;
}

.sections_img {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
background: #fff;
margin-top: 1.2rem;
margin-bottom: 2rem;
padding: 1.2rem;
box-shadow: 0px 0px 10px 0px #333 inset;
}

.img_container {
position: relative;
}

/* Estilos del texto de Información Oculta*/
.hidden_text {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
position: absolute;
color: #fff;
height: 50%;
width: 100%;
bottom: 0.2rem;
padding-left: 1rem;
font-weight: bold;
opacity: 0;
transition: 0.8s;
}

.hidden-flex {
height: 30%;
}

.img_container:hover {
cursor: pointer;
}

.img_container:hover .hidden_text {
cursor: pointer;
opacity: 1;
transition: 0.8s;
}

.red_promo {
background: red;
}

.blue_cartelera {
background: #0076ec;
}

.vintage_cartelera {
background: rgb(156, 149, 149);
}

/*Botones*/
.btn {
padding: 0.5rem;
border: none;
box-shadow: 0 3px 5px 0 rgb(0 0 0 / 52%);
font-size: 0.9rem;
color: #fff;
}

.btn:hover {
cursor: pointer;
}

#red-btn {
background: red;
}

#blue-btn {
background: #0076ec;
}