/* Estilos del Layout Principal */
#container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas:
        "header header header header"
        ". main main ."
        ". main main ."
        "footer footer footer footer";
    column-gap: 1rem;
    width: 100%;
}

#container_small {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 7rem 28rem 10rem;
    grid-template-areas:
        "header header header header"
        ". main main ."
        ". main main ."
        "footer footer footer footer";
    column-gap: 1rem;
    width: 100%;
}

/*---------------------------*/

main {
    padding: 1rem;
}

#news-header-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 14rem 14rem;
    grid-template-areas:
        "first first second third"
        "first first fourth five";
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    width: 100%;
}
/* ------------------------------------*/