/* Estilos del Layout Principal */
#container {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-areas:
    "header header header header"
    ". main main ."
    ". main main ."
    "footer footer footer footer";
  column-gap: 1rem;
  width: 100%;
}

#container_small {
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 7rem 28rem 10rem;
  grid-template-areas:
    "header header header header"
    ". main main ."
    ". main main ."
    "footer footer footer footer";
  column-gap: 1rem;
  width: 100%;
}

/*---------------------------*/

main {
  padding: 1rem;
}

/* Estilos de la secci칩n de noticias m치s destacadas*/
#news-header-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 14rem 14rem;
  grid-template-areas:
    "first first second third"
    "first first fourth five";
  column-gap: 0.3rem;
  row-gap: 0.3rem;
  width: 100%;
}

/*Le ponemos un background transaparente con opacidad*/
#news-header-first span, i, a {
    background: rgb(0, 0, 0, 0.027);
    color: #fff;
}

#first {
  grid-area: first;
  position: relative;
}

#second {
  grid-area: second;
  position: relative;
}

#third {
  grid-area: third;
  position: relative;
}

#fourth {
  grid-area: fourth;
  position: relative;
}

#five {
  grid-area: five;
  position: relative;
}

.news-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos de las titulares de las noticias*/
.header-news-a{
  position: absolute;
  padding: 0.4rem;
  z-index: 3;
  bottom: 0;
  left: 0.3rem;
  color: #fff;
  background: linear-gradient(to bottom,transparent 50%,rgba(0, 0, 0, 0.397) 90%);
  font-size: 0.9rem;
  font-weight: bold;
  transition: 0.8s;
}

/* Colocamos un peque침o sombreado a la hora de hacer hover*/
.header-news-a:hover, #news-header-first:hover {
    color: rgb(255, 255, 255, 0.76);
    background: linear-gradient(to bottom,transparent 50%,#000 90%);
    cursor: pointer;
    transition: 0.8s;
}

/*Contenedor de la noticia m치s importante*/
#news-header-first{
    position: absolute;
    padding: 1rem;
    z-index: 3;
    bottom: 0;
    left: 0;
    color: #fff;
    background: linear-gradient(to bottom,transparent 50%,rgba(0, 0, 0, 0.397) 90%);
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    transition: 0.8s;
}

#news-date {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    background: rgb(0, 0, 0, 0.027);
}

#time {
    font-size: 0.9rem;
    margin-right: 0.2rem;
}

#date {
    margin-right: 0.2rem;
}