/* Estilos del Layout Principal */
#container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas:
        "header header header header"
        ". main main ."
        ". main main ."
        "footer footer footer footer";
    column-gap: 1rem;
    width: 100%;
}

#container_small {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 7rem 28rem 10rem;
    grid-template-areas:
        "header header header header"
        ". main main ."
        ". main main ."
        "footer footer footer footer";
    column-gap: 1rem;
    width: 100%;
}

/*---------------------------*/

main {
    padding: 1rem;
}

#news-header-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 14rem 14rem;
    grid-template-areas:
        "first first second third"
        "first first fourth five";
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    width: 100%;
}

#first {
    grid-area: first;
}

#second {
    grid-area: second;
    position: relative;
}

#third {
    grid-area: third;
}

#fourth {
    grid-area: fourth;
}

#five {
    grid-area: five;
}

.news-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#second span {
    position: absolute;
    padding: 0.4rem;
    z-index: 3;
    background: rgb(0, 0, 0, .027);
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}
/* ------------------------------------*/